@import '../../../../styles';

#main {
    padding-top: 60px;
}

#main-header-logo {
    width: 50px;
}

#main-header ::ng-deep {
    nav {
        height: 3.5rem;
        background: $color-primary-4 !important;    
    }
}

#main-sidebar ::ng-deep {
    .main-container {
        background: $color-secondary-2-1 !important;
        div {
            padding: 6px;
            .main-sidebar-icon-bar-bottom  {
                padding-top: 150px;
            }
        }
    }
}

[_nghost-c2] nb-layout-header.fixed {
    top: 0;
    left: 55px;
}

.main-sidebar-icon-bar-top {
    margin-top: 10px;
}

.main-sidebar-icon {
    margin-bottom: 30px;
}

.main-sidebar-icon-active ::ng-deep {
    .main-sidebar-icon {
        color: white;
    }
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 32px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: #094B82;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

  .input-group > .input-group-prepend > .input-group-text {
    border-radius: 25px;
    left: 50px;
    position: relative;
    z-index: 100;
  }

.form-control {
    border-radius: 25px !important;
}