<nb-layout>
  <nb-sidebar id="main-sidebar" state="compacted">
    <div class="main-sidebar-icon-bar-top">
      <i class="material-icons main-sidebar-icon">
        home
      </i>
    </div>
    <div class="main-sidebar-icon-bar-bottom">
      <a href="/" routerLinkActive="main-sidebar-icon-active"><i class="material-icons main-sidebar-icon">
        dashboard
      </i></a>
      <a [routerLink]="['jobs']" routerLinkActive="main-sidebar-icon-active"><i class="material-icons main-sidebar-icon">
        assignment
      </i></a>
      <a [routerLink]="['analytics']" routerLinkActive="main-sidebar-icon-active"><i class="material-icons main-sidebar-icon">
        timeline
      </i></a>
      <a [routerLink]="['settings']" routerLinkActive="main-sidebar-icon-active"><i class="material-icons main-sidebar-icon">
        build
      </i></a>
    </div>
  </nb-sidebar>

  <nb-layout-column>
    <div>
      <nb-layout-header fixed id="main-header">
        <img src="../../../../assets/logo_transparent_small.png" id="main-header-logo" />
       
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm"><i class="material-icons">search</i></span>
          </div>
          <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
        </div>
        <nb-user id="header-user"
          size="middle"
          name="John Doe"
          title="Engineer"
          badgeText="99+"
          badgeStatus="success"
          badgePosition="bottom right">
        </nb-user>
      </nb-layout-header>
    </div>
    <div id="main">
      <router-outlet></router-outlet> 
    </div>
  </nb-layout-column>
</nb-layout>