<div id="analytics-container-upper">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-3">
        <nb-card>
          <nb-card-body>
            <nb-card-header>Pie Chart</nb-card-header>
            <chart type="pie" [data]="data" [options]="options"></chart>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-3">
        <nb-card>
          <nb-card-body>
            <nb-card-header>Pie Chart</nb-card-header>
            <chart type="pie" [data]="data" [options]="options"></chart>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-3">
        <nb-card>
          <nb-card-body>
            <nb-card-header>Pie Chart</nb-card-header>
            <chart type="pie" [data]="data" [options]="options"></chart>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-3">
        <nb-card>
          <nb-card-body>
            <nb-card-header>Pie Chart</nb-card-header>
            <chart type="pie" [data]="data" [options]="options"></chart>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-3">
        <nb-card>
          <nb-card-body>
            <nb-card-header>Pie Chart</nb-card-header>
            <chart type="pie" [data]="data" [options]="options"></chart>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
</div>
<nb-layout>
  <nb-layout-column>
    <nb-card>
      <nb-card-body>
        <nb-card-header>Pie Chart</nb-card-header>
        <chart type="pie" [data]="data" [options]="options"></chart>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
  <nb-layout-column>
    <nb-card>
      <nb-card-body>
        <nb-card-header>Pie Chart</nb-card-header>
        <chart type="pie" [data]="data" [options]="options"></chart>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
  <nb-layout-column>
    <nb-card>
      <nb-card-body>
        <nb-card-header>Pie Chart</nb-card-header>
        <chart type="pie" [data]="data" [options]="options"></chart>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>