<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>ALL JOBS</h1>
      <nb-card class="jobs-card">
        <nb-card-body (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="jobs-collapse">
          <div class="row">
            <div class="col-md-12">
              <div class="float-left">
                Job Name
              </div>
              <div class="float-right">
                OS CPU: x MEM: x
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              Job Status
            </div>
          </div>
        </nb-card-body>
      </nb-card>
      <nb-card class="jobs-card">
        <nb-card-body (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="jobs-collapse">
          <div class="row">
            <div class="col-md-12">
              <div class="float-left">
                Job Name
              </div>
              <div class="float-right">
                OS CPU: x MEM: x
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              Job Status
            </div>
          </div>
        </nb-card-body>
      </nb-card>
      <nb-card class="jobs-card">
        <nb-card-body (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="jobs-collapse">
          <div class="row">
            <div class="col-md-12">
              <div class="float-left">
                Job Name
              </div>
              <div class="float-right">
                OS CPU: x MEM: x
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              Job Status
            </div>
          </div>
        </nb-card-body>
      </nb-card>
      <nb-card class="jobs-card">
        <nb-card-body (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="jobs-collapse">
          <div class="row">
            <div class="col-md-12">
              <div class="float-left">
                Job Name
              </div>
              <div class="float-right">
                OS CPU: x MEM: x
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              Job Status
            </div>
          </div>
        </nb-card-body>
      </nb-card>
      <nb-card class="jobs-card">
        <nb-card-body (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="jobs-collapse">
          <div class="row">
            <div class="col-md-12">
              <div class="float-left">
                Job Name
              </div>
              <div class="float-right">
                OS CPU: x MEM: x
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              Job Status
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>

    <div class="col-md-6">
      <div id="jobs-collapse" [ngbCollapse]="isCollapsed">
        <nb-card class="jobs-collapse-card">
          <nb-card-body class="jobs-collapse-card-body">
            <div class="row job-status">
              <div class="col-md-12">
                <div class="float-left">
                  Job status
                </div>
                <div class="float-right">
                  <button nbButton status="danger">DISABLE</button>
                </div>
              </div>
            </div>
            <nb-tabset fullWidth>
              <nb-tab tabTitle="INFO" class="jobs-collapse-card-body-tabs">
                <p>List of
                  <strong>info</strong>.</p>
              </nb-tab>
              <nb-tab tabTitle="LOGS" class="jobs-collapse-card-body-tabs">
                <p>List of
                  <strong>logs</strong>.</p>
              </nb-tab>
              <nb-tab tabTitle="NOTIFICATIONS" class="jobs-collapse-card-body-tabs">
                <p>List of
                  <strong>notifications</strong>.</p>
              </nb-tab>
              <nb-tab tabTitle="PARAMS" class="jobs-collapse-card-body-tabs">
                <p>List of
                  <strong>parameters</strong>.</p>
              </nb-tab>
            </nb-tabset>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
</div>
