:host nb-layout-column {
    height: 50vw;
}

nb-card {
    border-radius: 0;
}

#jobs-collapse {
    margin-top: -40px;
    height: 100vh;
    width: 95vh;
    .job-status {
        margin-top: 15px;
    }
    .jobs-collapse-card-body {
        height: 100vh;
        padding-top: 0;
        .jobs-collapse-card-body-tabs {
            padding: 15px;
        }
    }
}

.jobs-card {
    .row {
        margin-left: 0;
        margin-right: 0;
    }
}