:host nb-layout-column {
    height: 50vw;
}

nb-card {
    border-radius: 0;
}

#jobs-collapse {
    margin-top: -40px;
    height: 100vh;
    .row {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
    .jobs-card {
        height: 100vh;
    }
    .jobs-card-body {
        height: 100vh;
        padding-top: 0;
        .jobs-card-body-tabs {
            padding: 15px;
        }
    }
}